ul.channel_list{
    margin: 0;
    padding: 0;
    overflow: auto;
    border-top:solid 1px #e0e0e0;

    li a{
        background-color: #fff;
        list-style-type: none;
        margin: 0;
        padding: 5px 10px;
        height: 60px;
        text-decoration: none;
        color: black;
        text-align: justify;
        display: flex;
        align-items: center;

        &:hover{
            background-color: #00fff330;
            cursor: pointer;
        }


        .channel-icon{
            flex: 0 0 40px;
        }
        .channel-details{
            flex: 1 1 100px;
            overflow: auto;

            .channel-name{
                font-size: larger;
                font-weight: 500;
            }

            .channel-name, .last-message{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .channel-stats{
            flex: 0 0 55px;

            .last-message-time{
                font-size: small;
            }

            .new-message-count{
                display: none;
                width: fit-content;
                min-width: 22px;
                text-align: center;
                margin: auto;
                background-color: rgb(0, 255, 0);
                color: white;
                padding: 3px;
                font-size: small;
                border-radius: 50%;
            }
        }
    }

    .active{
        background-color: #00bcd4 !important;
        color: white;
    }
}
