

.message-list{
  flex: 1 1 200px;
  overflow: auto;
  background: linear-gradient(45deg, #4caf50, #ffffff00 70.71% ), linear-gradient(165deg, #2196f3, #ffffff00 70.71% ), linear-gradient(225deg, #ffeb3b, #ffffff00 70.71% );

  .message-list-date{
    width: fit-content;
    background: palegoldenrod;
    color: #9c27b0;
    margin: 5px auto;
    text-align: center;
    font-size: smaller;
    justify-content: right;
    padding: 2px 5px;
    border-radius: 2px;
  }

  .user-message, .message{
    display: flex;
    height: fit-content;
    width: 95%;
    margin: auto;
    // margin: 12px auto 0;


    &:nth-last-child(2) {
      margin-bottom: 12px;
    }

    .chat-message{
      text-align: justify;
      padding:5px 10px 10px;

      display: block;
      max-width: 80%;
      position: relative;



      .content{
        padding:5px 0 0;
        margin: 0;
        word-break: break-all;
        white-space: pre-wrap;
      }

      .dummy{
        width: 60px;
        display: inline-block;
      }

      .time {
        right: 10px;
        position: absolute;
        bottom: 5px;
        font-size: 0.7em;

      }
      .sender{
        font-size: 0.8em;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }

  .user-message{
    justify-content: flex-end;

    .chat-message{
      background-color: azure;
      border-radius: 7px 0 7px 7px;

      &::after{
        content: "";
        position: absolute;
        border-width: 15px 8px;
        border-style: solid;
        top: 0;
        right: -8px;
        border-color: azure transparent transparent azure;
      }

      .sender{
        display: none;
      }

      // .time{
      //   // right: 0;
      // }

      .sending{
        &::after {
            content: '\2713';
            color: #009688;
            font-size: 0.9rem;
            letter-spacing: -5px;
            padding-right: 7px;
            /* padding: 5px; */
            padding-left: 2px;
        }
      }

      .sent{
        &::after{
          content: '\2713\2713';
          color: #009688;
          font-size: 0.9rem;
          letter-spacing: -5px;
          padding-right: 7px;
          /* padding: 5px; */
          padding-left: 2px;
        }
      }
    }

    & + .user-message{
      margin-top: 1px;

      .chat-message{
        border-radius: 7px;

        &::after{
          display: none;
        }
      }
    }

  }


  .message{
    justify-content: flex-start;

    .chat-message{
      background-color: snow;
      border-radius: 0 7px 7px;

      &::after{
        content: "";
        position: absolute;
        border-width: 15px 8px;
        border-style: solid;
        top: 0;
        left: -8px;
        border-color: snow snow transparent transparent;
      }
    }

    & + .message{
      margin-top: 1px;

      .sender{
        display: none;
      }

      .chat-message{
        border-radius: 7px;

        &::after{
          display: none;
        }
      }
    }

}

}

.interstitial-message{
/*background-color: aliceblue;*/
width: fit-content;
margin: auto;
padding: 5px;
border-radius: 2px;

&>p{
  margin: 0;
  color: white;
}
}
