$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background: #fafafa;
}

::-webkit-scrollbar-thumb{
    background: #c0c0c0;

    &:hover{
        background: rgb(161, 161, 161);
    }
}

.grid-container{
    position: relative;

    .chat-nav{
        display: grid;
        background-color: white;
        grid-template-rows: 60px auto;
        overflow: hidden;
        position:relative;
    }

    .chat-content{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        

        .initial{
            color: white;
            margin: auto;
            text-align: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: fit-content;
            height: -moz-fit-content;
        }
    }
}

@media(min-width: $breakpoint-tablet){

    .grid-container{
        height:100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 30% auto;
        // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: linear-gradient(90deg, #009c95, #0f4c75);
    }

    .chat-content{
        position: relative;
        background: linear-gradient(45deg, #4caf50, #ffffff00 70.71%), linear-gradient(165deg, #2196f3, #ffffff00 70.71%), linear-gradient(225deg, #ffeb3b, #ffffff00 70.71%);
    }

    .mobile-only{
        display: none!important;
    }
}


@media (max-width: $breakpoint-tablet - 1 ){
    .chat-nav{
        height: 100vh;
    }


    .chat-content{
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        z-index: 10;
        background: white;
    }

    .show-chat{
        left: 0;
        transition: left 0.23s linear;
    }
}
