.header {
  flex: 0 0 60px;
  display: flex;
  align-items: center;
  background-color: white;
  border-left: solid 1px #e0e0e0;
  box-shadow: 0px -7px 10px 0px;
  z-index: 1;
  position: relative;

    .channel-info {
      flex: 1 1 100px;
      display: flex;
      align-items: center;
      max-width: calc(100% - 40px );
      cursor: default;

      .arrow-back {
        &:hover {
          cursor: pointer;
        }
      }

      .channel-dp {
        margin-left: 5%;
      }

      .channel-name {
        padding: 0 2%;
        max-width: 70%;

        &:hover {
          cursor: pointer;
        }

        .channel-title {
          font-size: larger;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .channel-id {
          font-size: small;
        }
      }

      .members-count {
        font-size: medium;
        color: #b9b7b7;
      }
    }

    .exit-group {
        flex: 0 0 40px;
        cursor: pointer;
    }
}

@media (min-width:768px) {
  .mobile-only {
    display: none!important;
  }
}
