.sidebar{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 100% 100%;
    z-index: 10;
    // background-color: rgba($color: #000000, $alpha: 0.2);
    transition: 0.2s;

    .menubar{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block;
        border-right:solid 5px #00bcd4;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        min-width: 200px;
        min-height: 250px;
        animation-name: slideIn;
        animation-duration: 0.5s;
        position: relative;
        z-index: 1;

        @keyframes slideIn {
            from{
              left: -300px;
              opacity: 0;
            }
            to{
              left: 0;
              opacity: 1;
            }

        }

        ul{
            margin:0;
            padding: 0;
        }

        .logo{
            min-height: 60px;
            cursor: default;
            text-align: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }


        .menubar-item{
            text-align: justify;
            // border-bottom: rgb(0, 77, 128) solid;
            width: 100%;
            min-height: 3rem;
            padding: 5px 20px;
            border-collapse: collapse;
            display: grid;
            align-items: center;
            cursor: pointer;
            grid-template-columns: 40px auto;
            transition:  0.25s;

            &.active{
                background-color: #2a83ab;
                color: white;
            }

            &:hover:not(.active){
                background-color: #bde7ff;

            }

            // &:nth-child(2){
            //     border-top: rgb(0, 77, 128) solid;
            // }

            .menubar-label{
                padding-left: 5%;
            }
        }

        .close-menubar{
            width: 60px;
            display: flex;
            height: 60px;
            align-items: center;
            justify-content: space-around;
            transform: scale(0.7);

            &:hover{
                cursor: pointer;
                color: #ee1e0f;
            }
        }

    }

    .sidebar-content{
        background-color: white;
        height:100%;
        position: relative;
        border-right:solid 5px #00bcd4;

        header{
            position: relative;

            .icon{
                margin:10px 15px;
                position: absolute;

                &:hover{
                    cursor: pointer;
                }
            }

            .headline{
                flex: 0 1 100px;
                padding:10px;
                text-align: center;
                font-size: large;
            }
    
        }

         .feedback{
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            
        }

        .new-group{
            display:block;

            .new-group-form{
                
                .form-section{
                    display: grid;
                    grid-template-columns: auto 35px;
                    width: 80%;
                    min-width: 200px;
                    max-width: 600px;
                    margin: auto;

                    .button{
                        height: 35px;
                        align-self: center;
                        border-radius: 50%;
                        border: solid 1px;
                        padding: 5px;
                    }

                    button{
                        padding: 5px;
                        outline: none;
                        height: 40px;
                        font: inherit;
                        // text-align: center;
                        margin: 1%;
                    }


                    button{
                        width: 120px;
                        background-color: aliceblue;
                        border: 1px solid #07fff4;
                        transition:  0.35s;
                        font-size: 1rem;

                        &:hover{
                            cursor: pointer;
                            background-color: #07fff3c5;
                            color: white;
                            border: none;
                        }
                    }
                }
            }

            .search-result{
                width: 80%;
                min-width: 200px;
                max-width: 600px;
                margin: 2% auto auto ;

                h3{
                    margin: 0;
                }

                .search-result-channel{
                    display: flex;
                    align-items: center;
                    border: solid 1px;
                    margin: 5px;

                    .channel-name,.channel-members-count{
                        padding: 5px;
                    }

                    .channel-name{
                        max-width: calc(100% - 100px);
                        flex: 1 1 150px;

                        .channel-title{
                            font-size: large;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: #03a9f4;
                        }

                        .channel-id{
                            color: #2196f3;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .channel-members-count{
                        flex: 1 1 100px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #9e9e9e;
                    }

                    button{
                        margin: 5px;
                        padding: 0;
                        border: none;
                        background-color: #f0fff0;
                        height: 36px;
                        width: 50px;
                        font: inherit;
                        cursor: pointer;
                    }
                }
            }
        }

        .feedback{
            .feedback-form{
                width: 80%;
                min-width: 200px;
                max-width: 400px;
                margin: auto;
                height: 90%;
            }

            input,textarea,button{
                margin-top: 5%;
                padding: 5px;
                outline: none;

            }

            input, textarea{
                width: 100%;
                &:focus{
                    border: 1px solid #07fff4;
                }
            }

            input{
                height: 40px;
            }

            textarea{
                font: inherit;
            }

            button{
                width: 150px;
                height: 35px;
                background-color: aliceblue;
                border: 1px solid #07fff4;
                transition:  0.35s;
                font-size: 1rem;

                &:hover{
                    cursor: pointer;
                    background-color: #07fff3c5;
                    color: white;
                    border: none;
                }
            }

        }

    }

}

.show-sidebar-content{
    left:-100%;
    right:100%;
}

.expand-menubar{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 100%;

    .menu-icon{
        &:hover{
            cursor: pointer;
        }
    }

    
}
.hidden{
    display: none;
}
